@CHARSET "UTF-8";
#eazylaunch-div {
  width: 30%;
  top: 30px;
  position: fixed;
  left: 35%;
  z-index: 10;
  background-color: #fff;
  padding:20px;
  border:2px solid #bbb
}
#eazylaunch-input {width:100%}
#eazylaunch-div h2 {font-size:20px}
#eazylaunch-desc {font-size: 11px; color: #999}